@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}
body {
	background-image: url('./assets/courthouse.jpeg');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: rgba($color: #fff, $alpha: 0.2);
	.menuItem {
		display: block;
		background-color: rgba($color: #fff, $alpha: 0);
		margin: 30px 60px;
		font-size: 120px;
		color: black;
		text-decoration: none;
		border: 0;
	}
	.menuItem:hover {
		text-decoration: underline;
	}
	.hamburger {
		position: fixed;
		z-index: 100;
		top: 10px;
		right: 10px;
		padding: 4px;
		border: black solid 1px;
		background: rgba($color: #fff, $alpha: 0.5);
		cursor: pointer;
		.material-icons {
			font-size: 85px;
		}
	}
	.closeIcon {
		display: none;
	}
	.menu {
		position: fixed;
		transform: translateY(-100%);
		transition: transform 0.2s;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 99;
		background-color: rgba($color: #fff, $alpha: 0.2);
		backdrop-filter: blur(5px);
		color: white;
		list-style: none;
		padding-top: 4rem;
	}
	.showMenu {
		transform: translateY(0);
	}
	.logo {
		position: relative;
		z-index: 100;
		width: 100px;
		border: 5px;
		margin: 5px;
		padding: 5px;
		background-color: rgba($color: #fff, $alpha: 0.5);
	}
	main {
		section {
			padding-bottom: 1px;
			margin: 0;
			border: 0;
			header {
				font-size: 30px;
				color: black;
				background-color: rgba($color: #fff, $alpha: 0.5);
				backdrop-filter: blur(20px);
				padding: 20px;
				text-align: center;
			}
			.btn {
				width: 200px;
				height: 48px;
				padding: 10px 0px;
				margin: 10px 0px;
				font-size: 30px;
				background-color: #fff;
				border-radius: 15px;
				display: inline-flex;
				align-items: center;
				justify-content: center;
			}
			.btn-back {
				margin: 0px 10px 10px 10px;
			}
			.btn-success {
				height: auto;
			}
			article {
				background-color: rgba($color: #fff, $alpha: 0.8);
				margin: 15px;
				padding: 15px;
				border-radius: 15px;
				text-align: justify;
				font-size: 30px;
				h5 {
					text-align: center;
					font-size: 30px;
					margin: 15px 5px;
					padding: 15px 5px;
				}
				.form-control {
					font-family: 'Lato', sans-serif;
					width: auto;
					padding: 15px;
					margin: 3px;
					border: 2px;
					border-radius: 10px;
					line-height: 80px;
					font-size: 50px;
				}
				ul li {
					margin: 10px;
					list-style: none;
				}
				form {
					display: flex;
					flex-direction: column;
					border: 0;
					.credit_date {
						display: block;
					}
					.formField {
						border-radius: 15px;
						font-size: 40px;
						padding: 25px;
						label {
							display: inline-block;
						}
						.checkbox_div {
							display: flex;
							height: 100px;
							align-items: center;
							.checkbox {
								display: inline-flex;
								flex-direction: row;
								align-items: center;
								justify-content: center;
								height: 100%;
								width: auto;
							}
							.radio_dot {
								border: 0px;
								width: 50px;
								height: 50px;
								margin: 0px 50px 0px 10px;
							}
						}
						input,
						select {
							border-radius: 15px;
							font-size: 40px;
							padding: 15px;
							margin: 15px;
						}
						button {
							display: inline-flex;
							align-items: center;
							justify-content: center;
							width: 200px;
							height: 48px;
							padding: 10px;
							margin: 10px;
							font-size: 30px;
							background-color: #fff;
							border-radius: 15px;
						}
					}
				}
			}
		}
	}
	footer {
		margin: 0px;
		font-size: x-small;
	}
}

@media (min-device-width: 600px) {
	main {
		header {
			font-size: 28px;
		}
		.form-control {
			line-height: 60px;
			font-size: 40px;
		}
		.formField {
			font-size: 30px;
			padding: 10px;
		}
		input,
		select {
			font-size: 30px;
			padding: 10px;
			margin: 10px;
		}
	}
}

@media (min-device-width: 800px) {
	.menuItem {
		font-size: 50px;
	}
	main {
		.btn {
			height: 38px;
			font-size: 24px;
		}
		article {
			font-size: 28px;
			h5 {
				font-size: 24px;
				margin: 10px 5px;
				padding: 10px 5px;
			}
			.form-control {
				padding: 10px;
				line-height: 40px;
				font-size: 24px;
			}
			.formField {
				font-size: 24px;
				padding: 10px;
				.checkbox_div {
					height: 50px;
					.radio_dot {
						width: 30px;
						height: 30px;
					}
				}
				input,
				select {
					font-size: 20px;
				}
				button {
					height: 32px;
					font-size: 16px;
				}
				.submit_btn {
					background-color: #fff;
				}
			}
		}
	}
}

@media (min-device-width: 1000px) {
	body .menuItem {
		font-size: 40px;
	}

	.hamburger {
		right: 10%;
	}

	main {
		section {
			height: auto;

			header {
				font-size: 16px;
			}
			.btn {
				width: 100px;
				height: 28px;
				padding: 5px 0px;
				margin: 5px 0px;
				font-size: 13px;
			}
			article {
				font-size: 18px;
				h5 {
					font-size: 16px;
					margin: 0px 5px 5px 5px;
					padding: 0px 5px 5px 5px;
				}
				form .form-control {
					line-height: 20px;
					font-size: 16px;
				}
				ul li {
					margin: 5px;
				}
				form .formField {
					font-size: 20px;
					padding: 5px;
					input, select {
						font-size: 16px;
						padding: 5px;
						margin: 5px;
					}
					button {
						width: 100px;
						height: 28px;
						padding: 5px;
						margin: 5px;
						font-size: 16px;
						border-radius: 10px;
					}
				}
			}
		}
	}
}
